.selectablePopover {
  --width: 25rem;
  --max-width: 80vw;
}

.selectablePopoverList {
  max-height: 220px;
  overflow-y: scroll;
}

.openPopoverItem {
  width: 100%;
  --background: transparent !important;
}

.selectItemIcon {
  margin-right: 0.5rem;
  font-size: 1.3rem;
}

.emptyIcon {
  padding-right: 0.5rem;
  padding-left: 0.1rem;
  font-size: 1.15rem;
  line-height: 1rem;
  vertical-align: top;
}
