.selectablePopover {
  --max-height: 350px;
}

.selectablePopoverList {
  max-height: 220px;
  overflow-y: scroll;
}

.openPopoverItem {
  width: 100%;
}

.selectItemIcon {
  margin-right: 0.5rem;
  font-size: 1.3rem;
}
