.list {
  width: 100%;
  padding: 0;
}

.itemNoSafePad::part(native) {
  padding-left: 0;
}

.itemNoEndPad {
  --inner-padding-end: 0;
}

.itemResetEndPad {
  --inner-padding-end: 16px;
}

.itemNoBorder {
  --border-style: none;
}

.pointer {
  cursor: pointer;
}
