.container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100%;
}

.container .splitter {
  flex-grow: 1;
  width: 40%;
  min-width: calc(1200px / 2);
  max-width: 100%;
}
