.listNoPadding {
  padding: 0;
}

.noBackground,
.noBackground *::part(native),
.noBackground * {
  background: transparent;
}

.itemNoBorder {
  --border-style: none;
}

.smallItem {
  --padding-start: 0;
}

.smallItem::part(native) {
  height: 2em;
  min-height: unset;
  font-size: small;
  line-height: 1em;
}

.smallItemIcon {
  margin-right: 5px !important;
  font-size: small;
}
