.list,
.listInset,
.listInsetMax {
  padding: 0 !important;
}

.listInset {
  margin-left: 10px !important;
}

.listInsetMax {
  margin-left: 20px !important;
}

.chevron {
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  margin-inline-end: 10px;
}

.selector {
  cursor: pointer;
}
