.center {
  text-align: center;
}

.button-hugh {
  width: 160px;
}

.tag-view {
  padding-top: 15px;
  padding-bottom: 15px;
}

.button-padding {
  padding-right: 5px;
  padding-left: 5px;
}

.button-row {
  padding-top: 25px;
}

.input-align-right {
  text-align: right;
}
