.buttonElement {
  --ripple-color: transparent;

  height: 100% !important;
  margin: 0 !important;
  padding-right: 40px;
  padding-left: 40px;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px !important;
  font-weight: 500;
}

.buttonElement.active {
  background-color: var(--ion-color-primary);
  color: white;
}

.buttonContainer {
  position: relative;
}

.toolbar {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--ion-color-primarydark);
}

.toolbarContainer {
  display: flex;
  position: relative;
  box-sizing: border-box;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-height: 44px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  contain: content;
}
