.smallItemIcon {
  margin-right: 8px !important;
  font-size: medium;
}

.fullWidth {
  width: 100%;
}

.itemNoSafePad::part(native) {
  padding-left: 0;
}

.itemNoEndPad {
  --inner-padding-end: 0;
}

.itemResetEndPad {
  --inner-padding-end: 16px;
}

.itemNoBorder {
  --border-style: none;
}
