/** Overwrite Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #4fc3f8;
  --ion-color-primary-rgb: 79, 195, 248;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0093c5;
  --ion-color-primary-tint: #8bf6ff;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */
  body {
    /** primary **/
    --ion-color-primary: #4fc3f8;
    --ion-color-primary-rgb: 79, 195, 248;
    --ion-color-primary-contrast: #fff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #0093c5;
    --ion-color-primary-tint: #8bf6ff;
  }
}

/** App.tsx Custom CSS **/
.split-pane-fixed {
  /** This should rather be --side-max-width,
  but seems to be a bug in Ionic 5 for React **/
  --side-width: 350px;
}

/** Classes for the displayed toast **/
.Toastify__toast--default {
  background-color: var(--ion-color-medium);
}
.Toastify__toast--dark {
  background-color: var(--ion-color-medium);
}
.Toastify__toast--info {
  background-color: var(--ion-color-tertiary);
}
.Toastify__toast--success {
  background-color: var(--ion-color-success);
}
.Toastify__toast--warning {
  background-color: var(--ion-color-warning);
}
.Toastify__toast--error {
  background-color: var(--ion-color-danger);
}
