/** Setup "Roboto" font **/
* {
  font-family: "Roboto", sans-serif;
}

/** Overwrite Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #4fc3f8;
  --ion-color-primary-rgb: 79, 195, 248;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0093c5;
  --ion-color-primary-tint: #8bf6ff;

  /** primary-dark **/
  --ion-color-primary-dark: #28627c;
  --ion-color-primary-dark-rgb: 40,98,124;
  --ion-color-primary-dark-contrast: #ffffff;
  --ion-color-primary-dark-contrast-rgb: 255,255,255;
  --ion-color-primary-dark-shade: #23566d;
  --ion-color-primary-dark-tint: #3e7289;

  /** primary-light **/
  --ion-color-primary-light: #8bf6ff;
  --ion-color-primary-light-rgb: 139, 246, 255;
  --ion-color-primary-light-contrast: #000;
  --ion-color-primary-light-contrast-rgb: 0, 0, 0;
  --ion-color-primary-light-shade: #7ad8e0;
  --ion-color-primary-light-tint: #97f7ff;
}

.ion-color-primary-dark {
  --ion-color-primary-dark: #28627c;
  --ion-color-primary-dark-rgb: 40,98,124;
  --ion-color-primary-dark-contrast: #ffffff;
  --ion-color-primary-dark-contrast-rgb: 255,255,255;
  --ion-color-primary-dark-shade: #23566d;
  --ion-color-primary-dark-tint: #3e7289;
}

.ion-color-primary-light {
  --ion-color-base: var(--ion-color-primary-light);
  --ion-color-base-rgb: var(--ion-color-primary-light-rgb);
  --ion-color-contrast: var(--ion-color-primary-light-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-light-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-light-shade);
  --ion-color-tint: var(--ion-color-primary-light-tint);
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */
  body {
    /** primary **/
    --ion-color-primary: #4fc3f8;
    --ion-color-primary-rgb: 79, 195, 248;
    --ion-color-primary-contrast: #fff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #0093c5;
    --ion-color-primary-tint: #8bf6ff;
    --ion-color-primary-dark: #0093c5;
    --ion-color-primary-light: #8bf6ff;

    /** primary-dark **/
    --ion-color-primary-dark: #28627c;
    --ion-color-primary-dark-rgb: 40,98,124;
    --ion-color-primary-dark-contrast: #ffffff;
    --ion-color-primary-dark-contrast-rgb: 255,255,255;
    --ion-color-primary-dark-shade: #23566d;
    --ion-color-primary-dark-tint: #3e7289;

    /** primary-light **/
    --ion-color-primary-light: #8bf6ff;
    --ion-color-primary-light-rgb: 139, 246, 255;
    --ion-color-primary-light-contrast: #000;
    --ion-color-primary-light-contrast-rgb: 0, 0, 0;
    --ion-color-primary-light-shade: #7ad8e0;
    --ion-color-primary-light-tint: #97f7ff;
  }
}

/** App.tsx Custom CSS **/
.split-pane-fixed {
  /** This should rather be --side-max-width,
  but seems to be a bug in Ionic 5 for React **/
  --side-width: 350px;
}

/** Classes for the displayed toast **/
.Toastify__toast--default {
  background-color: var(--ion-color-medium);
}

.Toastify__toast--dark {
  background-color: var(--ion-color-medium);
}

.Toastify__toast--info {
  background-color: var(--ion-color-tertiary);
}

.Toastify__toast--success {
  background-color: var(--ion-color-success);
}

.Toastify__toast--warning {
  background-color: var(--ion-color-warning);
}

.Toastify__toast--error {
  background-color: var(--ion-color-danger);
}

.Toastify__body-wrap {
  width: 100%;
  overflow-wrap: break-word !important;
}

/* Tooltip */
.tooltip-fixed {
  max-width: 450px;
}

/* Ionic Grid */
.grid-no-padding {
  --ion-grid-padding: 0;
}

.grid-5px-padding {
  --ion-grid-padding: 5px;
}

.col-no-padding {
  --ion-grid-column-padding: 0;
}

.col-5px-padding {
  --ion-grid-column-padding: 5px;
}
