.top-navbar-element {
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 50px;
  padding-left: 50px;
  float: left;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  cursor: pointer;
}

.top-navbar-element.active {
  color: #fff;
}

.top-navbar-container {
  margin-right: 10px;
  margin-left: 10px;
}
