.table-root .table-header {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid var(--ion-color-medium-shade);
  color: var(--ion-color-dark);
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
}

.table-root .table-header .cell {
  padding-right: min(20%, 1rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-root .table-header .resize,
.table-root .table-header .resizing {
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 15px;
  height: 100%;
  transform: translate(30%);
  touch-action: none;
}

.table-root .table-header .resize-indicator {
  position: absolute;
  top: 0;
  left: calc(50%);
  width: 2px;
  height: 100%;
  transform: translateX(-50%);
  transition: background-color 0.15s ease;
  background-color: transparent;
}

.table-root .table-header .resizing .resize-indicator,
.table-root .table-header .cell:hover .resize-indicator,
.table-root .table-header .resize:hover .resize-indicator {
  background-color: var(--ion-color-dark);
}
