table.material-table {
  display: table;
  width: 100%;
  max-width: 100%;
  border: 0;
}

table.material-table th,
table.material-table td {
  padding: 1.6em;
  border: inherit;
  text-align: left;
  vertical-align: top;
}

table.material-table thead tr {
  border-bottom: 1px solid var(--ion-color-medium-shade);
}

table.material-table thead th {
  color: var(--ion-color-dark);
  font-weight: bold;
  text-transform: uppercase;
}

table.material-table thead th .icon-middle-padded {
  padding-left: 5px;
  vertical-align: middle;
}

table.material-table tbody tr {
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

table.material-table tbody tr:hover {
  background-color: #f1f1f1;
}

@media (prefers-color-scheme: dark) {
  table.material-table tbody tr:hover {
    background-color: #323232;
  }
}

table.material-table tbody td {
  color: var(--ion-color-medium);
}

table.material-table thead th .clickable-content {
  cursor: pointer;
}

.heavyBackdrop {
  opacity: 0.3;
}
