.metric-number {
  font-size: 2.5em;
}

.metric-name {
  white-space: nowrap;
}

.card-fixed {
  width: 200px;
}

.card-placeholder {
  width: 200px;
  height: 120px;
}

.table-housing {
  height: 500px;
  padding-bottom: 20px;
}

.count-chip {
  opacity: 1 !important;
}
