.droppable-zone {
  border-width: 1px;
  border-style: dashed;
  border-color: #3b4151;
}

.col-no-padding {
  --ion-grid-column-padding: 0px;
}

.dropzone-title {
  font-size: x-large;
}

.dropzone-title span {
  display: inline-block;
  vertical-align: middle;
}
.dropzone-title ion-icon {
  display: inline-block;
  vertical-align: middle;
  float: right;
}

.ms-tags-container {
  padding: 2px 15px;
}
