.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.loading {
  position: absolute;
  top: 50%;
  left: 10%;
  color: var(--ion-color-dark);
}

.spinner {
  display: inline-block;
  margin-right: 0.4rem;
  transform: translateY(0.2rem);
}
