name: General

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 14.x
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - name: Cache node modules
      uses: actions/cache@v2
      env:
        cache-name: cache-node-modules
      with:
        # npm cache files are stored in `~/.npm` on Linux/macOS
        path: ~/.npm
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-
    - name: Run (root) npm install
      run: npm ci
      working-directory: ./
    - name: Run (app) npm install
      run: npm ci
      working-directory: ./app
    - name: Run (wrapper) npm install
      run: npm ci
      working-directory: ./wrapper
    - name: Run linter "eslint"
      run: npm run eslint
    - name: Run linter "stylelint"
      run: npm run csslint

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 14.x
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - name: Cache node modules
      uses: actions/cache@v2
      env:
        cache-name: cache-node-modules
      with:
        # npm cache files are stored in `~/.npm` on Linux/macOS
        path: ~/.npm
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-
    - name: Run (root) npm install
      run: npm ci
      working-directory: ./
    - name: Run (app) npm install
      run: npm ci
      working-directory: ./app
    - name: Run (wrapper) npm install
      run: npm ci
      working-directory: ./wrapper
    - name: Test app
      run: npm test
      working-directory: ./app
    - name: Test wrapper
      run: npm test
      working-directory: ./wrapper
    - name: Test integration
      run: npm run test-auto
      working-directory: ./

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 14.x
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - name: Cache node modules
      uses: actions/cache@v2
      env:
        cache-name: cache-node-modules
      with:
        # npm cache files are stored in `~/.npm` on Linux/macOS
        path: ~/.npm
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-
    - name: Run (root) npm install
      run: npm ci
      working-directory: ./
    - name: Run (app) npm install
      run: npm ci
      working-directory: ./app
    - name: Run (wrapper) npm install
      run: npm ci
      working-directory: ./wrapper
    - name: Build app
      run: npm run build
      working-directory: ./app
    - name: Build wrapper
      run: npm run build
      working-directory: ./wrapper