name: Release

on:
  push:
    tags:
      - '**'

jobs:
  package:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # Select platform(s)
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: Get npm cache directory
        id: npm-cache-dir
        run: |
          echo "::set-output name=dir::$(npm config get cache)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Run (root) npm install
        run: npm ci
        working-directory: ./
      - name: Run (app) npm install
        run: npm ci
        working-directory: ./app
      - name: Run (wrapper) npm install
        run: npm ci
        working-directory: ./wrapper
      - name: Release stack
        run: npm run release
        working-directory: ./
      - name: Upload artifact (Windows)
        uses: actions/upload-artifact@v2
        with:
          name: snowman-win.zip
          path: ./wrapper/build/*.zip
        if: matrix.os == 'windows-latest'
      - name: Upload artifact (MacOS)
        uses: actions/upload-artifact@v2
        with:
          name: snowman.dmg
          path: ./wrapper/build/*.dmg
        if: matrix.os == 'macos-latest'
      - name: Upload artifact (Linux)
        uses: actions/upload-artifact@v2
        with:
          name: snowman-lnx.zip
          path: ./wrapper/build/*.zip
        if: matrix.os == 'ubuntu-latest'
  release:
    needs:
      - package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Create directory
        shell: bash
        run: |
          mkdir ./artifacts/
      - uses: actions/download-artifact@v2
        with:
          path: ./artifacts/
      - name: Create & Upload Release
        uses: softprops/action-gh-release@v1
        with:
          body: (to be manually added)
          draft: true
          files: |
            ./artifacts/**/*
            ./LICENSE
            ./README.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}